.customers__list{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 30px;
//    width: 100%;
   
    flex-wrap: wrap;
    // @media screen and (max-width: 768px){
    //     width: 520px;
    //  }
}
.customers .conteiner{
    @media screen and (max-width: 768px){
        // width: 520px;
        width: 100%;
    }
    @media screen and (min-width: 768px){
        width: 750px;
    }
    @media screen and (min-width: 1200px){
        width: 1200px;
    }
   
}
.customers__link{
   
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0, 0, 1, 1) ;
    @media screen and (max-width: 768px){
       width: 210px;
    }
    @media screen and (max-width: 1200px){
       width: 226px;
    }
    &:hover .customers__icons {
        fill: #2196F3;
        
        
        }
        &:hover {
         border-color: #2196F3;
        }
   }
  

    .customers__icons{
        transition: fill 250ms cubic-bezier(0, 0, 1, 1) ;
        
       
        fill: #AFB1B8;
       }